body {
  font-size: 14px;
  background-color: darkgrey;
  text-align: justify;
}

li {
  padding-bottom: 15px;
}

h1 {
  font-weight: 900;
  font-size: 2.4em;
  letter-spacing: 0px;
}

h2 {
  font-size: 1.7em;
  letter-spacing: 1px;
  text-align: left;
}

.title {
  color: darkblue;
  font-size: 1.3em;
  letter-spacing: 1px;
}

div {
  margin: 5vw 10vw;
  background-color: white;
  padding: 50px;
  border-radius: 30px;
}

a{
  text-decoration: none;s
  color: darkblue;
}
a:hover{
  color: darkgreen;
}
